* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: 'mont-r';
  src: url("../../fonts/montserat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'mont-b';
  src: url("../../fonts/montserat/Montserrat-Bold.ttf");
}

.nav {
  width: 100%;
  height: 61px;
  background: #2D3032;
}

.nav .logo-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav .logo-list .logo h3 {
  color: #fff;
  padding: 19px 0px 19px 40px;
  font-family: 'mont-r';
  font-weight: 100;
}

.nav .logo-list ul {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav .logo-list ul li a {
  color: #fff;
  margin-right: 69px;
  font-size: 15px;
  font-family: 'mont-r';
  font-weight: 100;
}

.nav-btn {
  position: absolute;
  z-index: 3;
  left: 35px;
  top: 35px;
  display: none;
  cursor: pointer;
}

.nav-btn .btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background: #2D3032;
}

.menu {
  width: 30%;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 0;
  background: #2D3032;
  transition: transform 0.5s;
  z-index: 20;
  transform: translateX(-100%);
}

.menu.active {
  transform: translateX(0%);
}

.menu_list {
  margin-top: 100px;
  width: 100%;
}

.menu_list a {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 21px 31px;
  display: flex;
  font-family: 'mont-r';
  font-size: 30px;
  transition: 0.5s;
  color: #fff;
}

.menu_list a:hover {
  background: #fff;
  color: black;
}

.menu::-webkit-scrollbar {
  width: 0;
}

.menu_btn {
  position: absolute;
  margin-top: 40px;
  margin-left: 280px;
  position: absolute;
  left: 30px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  background: transparent white;
  border: none;
  outline: none;
}

.menu_btn .btn-x {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background: #fff;
}

.menu_btn .btn-x:nth-child(1) {
  transform: rotate(45deg) translate(6px, 5px);
}

.menu_btn .btn-x:nth-child(2) {
  opacity: 0;
}

.menu_btn .btn-x:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

@media (max-width: 768px) {
  .nav .logo-list ul li a {
    margin-right: 30px;
  }

  .menu {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .nav {
    height: 80px;
    opacity: 0;
  }

  .nav-btn {
    display: block;
  }

  .menu_list {
    display: block;
  }

  .menu_btn {
    margin-left: 65%;
  }
}

@media (max-width: 480px) {
  .menu {
    width: 100%;
  }

  .menu_list {
    margin-top: 50%;
  }

  .menu_list a {
    font-size: 15px;
    padding: 10px 31px;
  }

  .menu_list a {
    font-size: 30px;
  }
}